{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}


<div class="col-span-5 h-screen w-full ">
  <div class="flex flex-col items-center mt-12">
    <div class="">
      <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="pb-6 px-6 pt-4 rounded-t-lg bg-white sm:mx-auto sm:w-full sm:max-w-md">
                
          <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Nova Senha" %}{% endif %}</h2>
          <p class="mt-2 text-center text-sm text-gray-600">{% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p>{% blocktrans %}Link de redefinição de senha inválido, possivelmente porque já foi usado. Solicite uma <a href="{{ passwd_reset_url }}" class="font-medium text-blue-600 hover:text-blue-500">nova redefinição de senha</a>.{% endblocktrans %}</p>
          {% else %}

        </div>

        <div class=" sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-white w-96 pt-2 pb-6 px-4 shadow-2xl border border-gray-300 rounded-lg mb-28">
            <form class="" method="POST" action="{{ action_url }}">
              {% csrf_token %}
              <label for="Password" class="block text-sm font-medium text-gray-700 mt-2">Nova Senha</label>
              <div class="mt-1">
              {% render_field form.password1 class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"%}
              </div>
  
              <label for="Password" class="block text-sm font-medium text-gray-700 mt-4"> Nova Senha (novamente)</label>
              <div class="mt-1">
              {% render_field form.password2 class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"%}
              </div>

              {% if form.errors %}
                {% for field, erro in form.errors.items %}
                  <div class="bg-red-100 text-red-700 font-semibold text-sm flex p-3 mt-3">
                    <div >
                      {{erro}}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
  
  
              <input type="submit" name="action" class="mt-6 cursor-pointer flex w-full justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" value="{% trans 'Salvar Senha' %}"/>

            </form>
            {% endif %}
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
{% endblock %}
