{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="h-screen">
    <div class="bg-white rounded-lg border border-gray-300 shadow-lg mb-20 mt-20 mx-auto w-96 md:w-2/5">
        <div class="mx-auto max-w-7xl py-24 px-6 lg:px-8">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 mb-2">{% trans "Redefinição de Senha" %}</h2>
            <p class="tracking-tight text-gray-500">{% trans "Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail permitindo que você o redefina." %}</p>
            <div class="mt-10 flex items-center gap-x-6">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset space-y-6">
                    {% csrf_token %}
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">E-mail</label>
                        <div class="mt-1">
                            {% render_field form.email class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"%}
                        </div>
                    </div>
                    <input class="cursor-pointer rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-600" type="submit" value="{% trans 'Redefinir senha' %}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
