<!-- TELA DO COLABORADOR -->
<div class="min-h-screen justify-center bg-gray-100 lg:pb-44 pb-20 pt-10">
    {% if success %}
        <div class="bg-white rounded border border-gray-300 shadow-lg w-96 h-min p-4 mx-auto">
            <div class="bg-green-100 text-green-700 text-center">Solicitação enviada com sucesso!</div>
            <div class="flex items-center justify-center mt-4">
                <a href="/" class="rounded bg-blue-950 text-white py-1.5 w-24 hover:bg-blue-800 text-center">Voltar</a>
            </div>
        </div>
   
    {% elif ferias_em_aberto %}
        <div class="bg-white rounded border border-gray-300 shadow-lg w-96 h-min p-4 mx-auto">
            <div class="bg-red-100 text-red-700 text-center">Você já possui uma solicitação de férias em aberto!</div>
            <div class="flex items-center justify-center mt-4">
                <a href="/" class="rounded bg-blue-950 text-white py-1.5 w-24 hover:bg-blue-800 text-center">Voltar</a>
            </div>
        </div>
   
    {% elif saldo_de_ferias_insuficiente %}
        <div class="bg-white rounded border border-gray-300 shadow-lg w-96 h-min p-4 mx-auto">
            <div class="bg-red-100 text-red-700 text-center">Você não possui saldo de férias suficiente!</div>
            <div class="flex items-center justify-center mt-4">
                <a href="/" class="rounded bg-blue-950 text-white py-1.5 w-24 hover:bg-blue-800 text-center">Voltar</a>
            </div>
        </div>

    {% elif form.errors %}
        <div class="bg-white rounded border border-gray-300 shadow-lg w-96 h-min p-4 mx-auto">
            <div class="bg-red-100 text-red-700 p-3 rounded">
                <p class="font-semibold">Por favor, corrija os seguintes erros:</p>
                <ul class="list-disc pl-5">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="flex items-center justify-center mt-4">
                <a href="/" class="rounded bg-blue-950 text-white py-1.5 w-24 hover:bg-blue-800 text-center">Voltar</a>
            </div>
        </div>
    {% else %}

        <div class="w-11/12 bg-gray-100 space-x-5 max-w-5xl mx-auto flex items-center justify-center">
            <div @click="tabColaborador = 'solicitar'" class="hover:cursor-pointer w-1/2 md:w-50 bg-white p-4 flex justify-center border border-b-2 rounded"
            :class="tabColaborador == 'solicitar'? 'border-b-blue-600 text-blue-800 border-blue-200':'border-b-gray-600 text-gray-800 border-gray-300'">
                <p class="font-semibold text-sm md:text-base ">Solicitar Férias</p>
            </div>

            <div @click="tabColaborador = 'historico'" class="hover:cursor-pointer w-1/2 md:w-50 bg-white p-4 flex justify-center border border-b-2 rounded"
            :class="tabColaborador == 'historico'? 'border-b-blue-600 text-blue-800 border-blue-200':'border-b-gray-600 text-gray-800 border-gray-300'">
                <p class="font-semibold text-sm md:text-base">Histórico</p>
            </div>
        </div>

        <!-- FORMULÁRIO DE SOLICITAÇÃO DE FÉRIAS  -->
        <div x-show="tabColaborador == 'solicitar'" class="w-11/12 max-w-5xl mx-auto bg-white h-min border border-gray-300 shadow rounded p-5 mt-5">
            <h1 class="text-blue-800 text-3xl text-center">Solicitação de Férias Macrosul</h1>
            <form action="{% url 'add_solicitacao' %}" method="POST" enctype="multipart/form-data" class="space-y-3 w-full mt-3 preventForm">
                {% csrf_token %}
                <div class="md:flex space-y-3 md:space-y-0 md:space-x-3 w-full">
                    <div class="md:w-1/2 w-full">
                        <label for="dias_de_descanso" class="block text-sm font-semibold text-blue-900 pl-1"> Quantidade de dias de descanso:</label>
                        <input type="number" id="dias_de_descanso" name="dias_de_descanso" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <div class="md:w-1/2 w-full">
                        <label for="inicio_do_descanso" class="block text-sm font-semibold text-blue-900 pl-1"> Data de início do descanso:</label>
                        <input type="date" id="inicio_do_descanso" name="inicio_do_descanso" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>
                </div>

                <div class="md:flex md:space-x-3 space-y-3 md:space-y-0 w-full">
                    <div class="w-full md:w-1/2">
                        <label for="dias_vendidos" class="block text-sm font-semibold text-blue-900 pl-1">Dias que deseja vender das férias:</label>
                        <input type="number" id="dias_vendidos" name="dias_vendidos" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" value="0" min="0" max="10">
                    </div>

                    <div class="w-full md:w-1/2">
                        <label for="email_gestor" class="block text-sm font-semibold text-blue-900 pl-1">Email do seu gestor:</label>
                        <input type="email" id="email_gestor" name="email_gestor" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                </div>

                <div class="space-y-3">
                    <div class="pl-1">
                        <p class="block text-sm font-semibold text-blue-900">Comunicação com seu gestor:</p>
                        <p class="text-xs text-gray-400">Anexe aqui prints de mensagens ou email que mostre que houve comunicação sobre a solicitação de férias com o seu gestor.</p>
                    </div>
                
                    <label for="comunicacao_com_gestor" class="bg-gray-500 rounded text-white font-semibold py-1.5 px-3 hover:cursor-pointer transition duration-200 hover:bg-gray-700"> Escolher ficheiro</label>
                    <input type="file" id="comunicacao_com_gestor" name="comunicacao_com_gestor" class="hidden">
                    <div class="py-2">
                        <p id="anexo" class="text-xs"></p>
                    </div>
                </div>

                <div>
                    <label for="observacao_do_gestor" class="block text-sm font-semibold text-blue-900 pl-1">Obersavações da conversa com o gestor:</label>
                    <p class="text-xs pl-1 pb-1 text-gray-400">Em casos em que a comunicação foi feita pessoalmente, ou em algum outro caso específico, escreva aqui caso haja alguma observação.</p>
                    <textarea name="observacao_do_gestor" id="observacao_do_gestor" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 min-h-40"></textarea>
                </div>

                <div class="flex justify-center items-center mt-5">
                    <button type="submit" class="bg-blue-900 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-200 hover:cursor-pointer">Enviar Solicitação</button>
                </div>
            </form>
        </div>


        <!-- HISTÓRICO DE SOLICITAÇÕES -->
        <div x-show="tabColaborador == 'historico'" class="element max-h-200 w-11/12 md:w-105 mx-auto mt-5 border border-gray-300 bg-gray-200 rounded px-2 py-5 overflow-y-auto pb-5 space-y-4">
            {% for solicitacao in solicitacoes %}
            {% if solicitacao.user == user %}
                <div x-data="{ modalVerificaSolicitacao:false }" @click="modalVerificaSolicitacao = true" class="w-11/12 md::w-full mx-auto hover:cursor-pointer rounded bg-white shadow hover:shadow-lg p-2 text-sm text-gray-500 font-semibold space-y-3">
                    <p class="text-base text-black"><i class="fa-solid fa-user"></i> {{solicitacao.user}}</p>
                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-umbrella-beach mt-0.5"></i>
                            <div>
                                <p>DIAS DE DESCANSO:</p>
                                <p class="font-normal"> {{solicitacao.dias_de_descanso}}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-money-bill-wave mt-0.5"></i>
                            <div>
                                <p>DIAS PARA VENDA:</p>
                                <p class="font-normal"> {{solicitacao.dias_vendidos}}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-calendar-days mt-0.5"></i>
                            <div>
                                <p>DATA DE INICIO:</p>
                                <p class="font-normal">{{ solicitacao.inicio_do_descanso|date:'d/m/Y' }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-calendar-days mt-0.5"></i>
                            <div>
                                <p>FIM DO DESCANSO:</p>
                                <p class="font-normal">{{ solicitacao.fim_do_descanso|date:'d/m/Y' }}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-signal mt-0.5"></i>
                            <div>
                                <p>STATUS:</p>

                                {% if solicitacao.ferias_rejeitadas %}
                                    <p class="text-red-500">Solicitação Recusada</p>

                                    {% elif solicitacao.solicitacao_aprovada and not solicitacao.ferias_iniciadas and not solicitacao.ferias_finalizadas %}
                                    <p class="text-green-500">Solicitação Aprovada</p>

                                    {% elif solicitacao.ferias_iniciadas and not solicitacao.ferias_finalizadas %}
                                    <p class="text-purple-500">Em Férias</p>

                                    {% elif solicitacao.ferias_finalizadas %}
                                    <p class="text-orange-500">Férias Finalizadas</p>
                                    
                                    {% elif not solicitacao.ferias_finalizadas and not solicitacao.ferias_iniciadas and not solicitacao.solicitacao_aprovada and not solicitacao.ferias_rejeitadas %}
                                    <p class="text-yellow-500">Solicitação em Aberto</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        
        </div>
    {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const input = document.getElementById("comunicacao_com_gestor");
    const output = document.getElementById("anexo");

    input.addEventListener("change", function () {
      if (input.files.length > 0) {
        output.textContent = input.files[0].name;
      } else {
        output.textContent = "";
      }
    });
  });
</script>