<!-- TELA DO ADMINISTRADOR -->
<div class="flex py-1 pl-3">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}
</div>

<div class="min-h-screen grid grid-cols-6 w-full p-3 gap-3 overflow-y-auto">
    <section class="">
        <div class="border border-t-2 border-t-blue-600 border-gray-200 rounded p-2 text-center relative">
            <h3 class="text-blue-600 font-semibold">Funcionários</h3>
            <button @click="modalAddColaborador = true" class="absolute right-5 top-2 hover:cursor-pointer hover:bg-gray-100 transition duration-200 border flex items-center justify-center rounded border-gray-200 size-6">
                <i class="fa-solid fa-plus text-gray-400 "></i>
            </button>
        </div>
        <div class="h-[90%] mt-3 border border-gray-300 bg-gray-100 rounded p-2 overflow-y-auto pb-5 space-y-4">
            {% for card in cards %}
            {% if not card.data_de_vencimento_proxima %}
                <div class="w-full hover:cursor-pointer rounded bg-white shadow hover:shadow-lg p-2 text-sm text-gray-500 font-semibold space-y-3">
                    <p class="text-base text-black"><i class="fa-solid fa-user"></i> {{card.colaborador}}</p>
                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-briefcase mt-0.5"></i>
                            <div>
                                <p>SETOR:</p>
                                <p class="font-normal"> {{card.setor}}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-forward mt-0.5"></i>
                            <div>
                                <p>SALDO DE FÉRIAS:</p>
                                <p class="font-normal"> {{card.saldo_de_ferias}}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-calendar-days mt-0.5"></i>
                            <div>
                                <p>DATA DE ADMISSÃO:</p>
                                <p class="font-normal">{{ card.data_de_admissao|date:'d/m/Y' }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-calendar-days mt-0.5"></i>
                            <div>
                                <p>DATA DE VENCIMENTO:</p>
                                <p class="font-normal">{{card.data_de_vencimento_de_ferias|date:'d/m/Y' }}</p> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="">
        <div class="border border-t-2 border-t-orange-600 border-gray-200 rounded p-2 text-center">
            <h3 class="text-orange-600 font-semibold">Vencimento Próximo</h3>
        </div>
        <div class="h-[90%] mt-3 border border-gray-300 bg-gray-100 rounded p-2 overflow-y-auto pb-5 space-y-4">
             {% for card in cards %}
             {% if card.data_de_vencimento_proxima %}
                <div class="w-full hover:cursor-pointer rounded bg-white shadow hover:shadow-lg p-2 text-sm text-gray-500 font-semibold space-y-3">
                    <p class="text-base text-black"><i class="fa-solid fa-user"></i> {{card.colaborador}}</p>
                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-briefcase mt-0.5"></i>
                            <div>
                                <p>SETOR:</p>
                                <p class="font-normal"> {{card.setor}}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-forward mt-0.5"></i>
                            <div>
                                <p>SALDO DE FÉRIAS:</p>
                                <p class="font-normal"> {{card.saldo_de_ferias}}</p> 
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-calendar-days mt-0.5"></i>
                            <div>
                                <p>DATA DE ADMISSÃO:</p>
                                <p class="font-normal">{{ card.data_de_admissao|date:'d/m/Y' }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="text-xs">
                        <div class="flex space-x-1">
                            <i class="fa-solid fa-calendar-days mt-0.5"></i>
                            <div>
                                <p>DATA DE VENCIMENTO:</p>
                                <p class="text-red-700">{{ card.data_de_vencimento_de_ferias|date:'d/m/Y' }}</p> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="">
        <div class="border border-t-2 border-t-yellow-600 border-gray-200 rounded p-2 text-center">
            <h3 class="text-yellow-600 font-semibold">Férias Solicitadas</h3>
        </div>
        <div class="h-[90%] mt-3 border border-gray-300 bg-gray-100 rounded p-2 overflow-y-auto pb-5 space-y-4">
        </div>
    </section>

    <section class="">
        <div class="border border-t-2 border-t-green-600 border-gray-200 rounded p-2 text-center">
            <h3 class="text-green-600 font-semibold">Férias Aprovadas</h3>
        </div>
        <div class="h-[90%] mt-3 border border-gray-300 bg-gray-100 rounded p-2 overflow-y-auto pb-5 space-y-4">
        </div>
    </section>

    <section class="">
        <div class="border border-t-2 border-t-red-600 border-gray-200 rounded p-2 text-center">
            <h3 class="text-red-600 font-semibold">Férias Recusadas</h3>
        </div>
        <div class="h-[90%] mt-3 border border-gray-300 bg-gray-100 rounded p-2 overflow-y-auto pb-5 space-y-4">
        </div>
    </section>

    <section class="">
        <div class="border border-t-2 border-t-purple-600 border-gray-200 rounded p-2 text-center">
            <h3 class="text-purple-600 font-semibold">Em Férias</h3>
        </div>
        <div class="h-[90%] mt-3 border border-gray-300 bg-gray-100 rounded p-2 overflow-y-auto pb-5 space-y-4">
        </div>
    </section>
</div>
<!-- FIM DA TELA DO ADMINISTRADOR -->


<!-- MODAL PARA ADICIONAR COLABORADOR -->
{% include 'core/modals/add_colaborador.html' %}