{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Férias</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
</head>
<body>
    <header class="bg-red-500">
        <p>CABEÇALHO</p>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <p>RODAPÉ</p>
    </footer>
    
</body>
</html>